/*.our-clients {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.client-icon {
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 90px;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition-property: border;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

&:not(:last-child) {
    margin-right: 30px;
}
&:hover, &:focus {
    border-color: $aksent-color;
}
}
.client-icon-item-svg {
fill: #AFB1B8;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon:hover .client-icon-item-svg,
.client-icon:focus .client-icon-item-svg {
    fill: $aksent-color;
}