.special-item-img {
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
margin-bottom: 30px;
height: 70px;
padding-top: 25px;
padding-bottom: 25px;
background: #F5F4FA;
}
.special {
    padding-left: 0px;
    margin: 0px;
}
.description {
    margin-top: 0px;
}
 @media screen and (max-width:767px) {
.speciality {
    width: 100%;
    margin-right: 0px;
}
}
@media screen and (min-width:768px) and (max-width: 1199px) {
    .special {
        display:flex;
        flex-wrap:wrap;
            }
.special-item-img {
width: calc((100%-30px)/2);
&:not(:nth-child(2n + 2)) {
    margin-right: 30px;
        }
    }
    }
@media screen and (min-width: 1200px) {
    .special-item-img {
        max-width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
         }
}
