.special-item-img {
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
margin-bottom: 30px;
width: 70px;
height: 70px;
padding-left: 100px;
padding-right: 100px;
padding-top: 25px;
padding-bottom: 25px;
background: #F5F4FA;
}
 
 

@media screen and (max-width:767px) {
.special {
    margin: 0px;
    padding-left: 0px;
}
   .special-item-img {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F5F4FA;
    height: 120px;
    }
}




@media screen and (min-width:768px) and (max-width: 1199px) {
    .special {
        display:flex;
        flex-wrap:wrap;
            }
.speciality .features {
width: calc((100%-30px)/2);
&:not(:nth-child(2n + 2)) {
    margin-right: 30px;
        }
    }
    .special-item-img{
        padding: 25px 0;
    }
}
@media screen and (min-width: 1200px) {
    .special {
        padding: 94px 0;
    }
    .speciality .features {
        max-width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        .special-item-img{
            padding: 25px 0;
        }
    }
}
