.footer {
    background: #2F303A;   
.container {
    display: flex;
    }
}
.footer-logo {
    margin-right: 69px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logotype {
margin-bottom: 20px;
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.03em;
color:$title-dark-theme-color;
}
.address {
margin-bottom: 9px;
color:$title-dark-theme-color;
text-decoration: none;
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.footer-mailto{
text-decoration: none;
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;

&:hover,
&:focus {
color: $aksent-color;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
}

.footer-tel{
text-decoration: none;
font-weight: normal;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
&:hover,
&:focus {
color: $aksent-color;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.footer-subscribe {
margin-right: 94px;
padding-top: 72px;
}
 .footer-subtitle-subtitle {
 padding-top: 72px;   
 }  
.footer-subtitle {
margin-bottom: 20px;
color: $title-dark-theme-color;
text-transform: uppercase;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 0px;
        }
.footer-icons-label:not(:last-child) {
margin-right: 10px;
}
 .footer-icon-list  {
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
background-color: rgba(255, 255, 255, 0.1);
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
    background-color: $aksent-color;
    }
}
.footer-icon-list-svg {
    width: 20px;
    height: 20px;
}
.footer-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footer-form-field {
    margin-right: 10px;
    width: 358px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-button {
display: inline-flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 29px;
padding-right: 28px;
justify-content: center;
width: 200px;
height: 50px;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: bold;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
color: $title-dark-theme-color;
background-color: $aksent-color;
border: $aksent-color;
}
.footer-button-icon-svg {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    fill: $title-dark-theme-color;
}