.header {
position: relative;
border: 1px solid #ECECEC;
}
.header .container {
display: flex;
justify-content: space-between;
align-items: center;
}
.logo {
padding-top: 16px;
padding-bottom: 16px;
z-index: 100;
}
.navigation-link:hover, .navigation-link:focus {
color: $aksent-color;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
color: $aksent-color;
&::after {
display: block;
content: "";
width: 61px;
height: 4px;
background: #2196F3;
border-radius: 2px;
margin-top: 8px;
}
}
.header-address-list-svg {
margin-right: 10px;
fill: #757575;
}
.header-mailto {
margin-bottom: 16px;
color: $main-text-color;
&:hover, &:focus {
color: $aksent-color;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
}
.header-tel {
color: $main-text-color; 
&:hover,
&:focus{
color: $aksent-color;
transition-property: color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
}
.header-mailto:hover .header-address-list-svg,
.header-mailto:focus .header-address-list-svg{
fill: $aksent-color;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
}
.header-tel:hover .header-address-list-svg,
.header-tel:focus .header-address-list-svg{
fill: $aksent-color;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
}
@media screen and (max-width:767px)
{
.header {
    max-width: 480px;
    margin: 0 auto;
}
}
.header-button {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0px;
    z-index: 100;
    
    &.is-open {
    .icon-close {
    display: block;
    }
    .icon-burger {
    display: none;
            }
        }
    }
    .icon-close {
        display: none;
    }
    .menu-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 453px;
        background: #FFFFFF;
        padding-top: 120px;
        padding-bottom: 60px;
        transform: translateY(-100%);
        transition: transform 500ms linear;
    &.is-open {
        transform: translateY(0);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          }
        }
.navigation-list-item, .header-address-list {
display: flex;
flex-direction: column;
align-items: center;
}
.navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
}
.header-address{
    margin-top: 60px;
}
@media screen and (min-width: 768px) {
    .header-button {
        display: none;
    }
    .menu-wrapper {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-right:81px;
    }
    .navigation-list {
        display: flex;
    }
    .navigation-link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    }
}    