    
    .hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height:1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-dark-theme-color;
    }
    .modal-button {
    display: flex;
    margin: auto;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: $aksent-color;
    color: $title-dark-theme-color;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    @media screen and (min-width:480px) {
    .hero {
    max-width: 767px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
    ), url("../../images/mob-header.jpg");
    }
    @media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: 480px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
    ), url("../../images/mob-header@2x.jpg");
    }
    }
    }
    @media screen and (min-width:768px) {
        .hero {
        max-width: 1139px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
        ), url("../../images/tab-header.jpg");
        }
        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx),
        screen and (min-width: 768px) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
        ), url("../../images/tab-header@2x.jpg");
        }
        }
        }
        @media screen and (min-width:1140px) {
            .hero {
            max-width: 1600px;
            padding-top: 200px;
            padding-bottom: 200px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
            ), url("../../images/desk-header.jpg");
            }
            @media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx),
            screen and (min-width: 1140px) {
            .hero {
                background-image: linear-gradient(rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)
            ), url("../../images/desk-header@2x.jpg");
            }
            .hero-title {
                margin-top: 0px;
                margin-bottom: 30px;
                font-weight: 900;
                font-size: 44px;
                line-height:1.36;
            }
            }
        }


