.button-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 93px;
    padding-bottom: 50px;
}
.button {
font-family: $main-font;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
margin-right: 8px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
background-color: #F5F4FA;
border-radius: 4px;
border-color: transparent;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: $aksent-color;
    color: $title-dark-theme-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio-list {
margin-right: 30px;
margin-bottom: 30px;
width: 370px;
height: 404px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
&:hover,
&:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
}
.portfolio-list:nth-child(3n) {
    margin: 0px;
}
.portfolio-list:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.portfolio-link {
    display: block;
    margin-bottom: 0px;
}
.portfolio-link-text {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.text-portfolio-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: $title-dark-theme-color;
    font-size: 18px;
    text-align:left;
    line-height: 1.56;
    letter-spacing: 0.03em;
    opacity: 0;
    transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .text-portfolio-overlay {
    transform: translateY(0);
    opacity: 1;
    top: 0%;
}
.subtitle-portfolio {
    margin-bottom: 4px;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: $title-light-theme-color;
}
.subtitle-portfolio, .description-portfolio {
    margin-left: 24px;
    margin-right: 24px;
}
.description-portfolio {
margin-bottom: 0px;
margin-bottom: 20px;
font-size: 16px;
line-height: 1.88;}
.description, .description-portfolio {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:$main-text-color;
}
 
.text-portfolio {
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: $title-dark-theme-color;
}
.portfolio-section {
    padding-bottom: 94px;
}