.team {
    background: #F5F4FA;
}
.team-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    }
.subtitle-position {
        margin-top: 0px;
        margin-bottom: 16px;
        }    
.team-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 24px;
}
.icon:not(:last-child) {
    margin-right: 10px;
}
.team-icon-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--title-dark-theme-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    .team-icon-social-list:hover,
    .team-icon-social-list:focus {
        background-color: var(--aksent-color);
    }
.team-icon-list-svg {
    width: 20px;
     height: 20px;
     fill: #AFB1B8;
     transition-property: fill;
     transition-duration: 250ms;
     transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
     
 }
 .team-icon-social-list:hover .team-icon-list-svg,
 .team-icon-social-list:focus .team-icon-list-svg
 {
     fill: $title-dark-theme-color;
 }
@media screen and (max-width:767px){
.team-item {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.our-team {
    padding: 0px;
}
.our-team-img {

    margin-bottom: 30px;
}
}

@media screen and (min-width:768px) 
and (max-width: 1199px) {
    .our-team {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    }
.our-team-img {
    
    margin-bottom: 30px;
    }
.team-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
&:nth-child(2n + 1) {
    margin-right: 30px;
}
}
}

@media screen and (min-width: 1200px) {
.our-team {
    display: flex;
    padding-left: 0px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
      }
}
