.logo {
font-family:Raleway, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.03em;
color:#000000;
}
.navigation-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-light-theme-color;}
    .header-mailto, .header-tel {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: $main-text-color;
        }
        .hero-title {
            font-weight: 900;
            font-size: 26px;
            line-height:1.61;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $title-dark-theme-color;
            }
            .modal-button {
                font-weight: bold;
                font-size: 16px;
                line-height: 1.88;
                text-align: center;
                letter-spacing: 0.06em;
            }
            .subtitle{
                margin-top: 0;
                margin-bottom: 10px;
                text-align: center;
            }
            .description {
                margin: 0;
                font-weight: 400;
                line-height: 1.7;
                margin-bottom: 30px;}
                .subtitle, .subtitle-box, .footer-subtitle {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: $title-light-theme-color
                    }
                .section-subtitle {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 1.16;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: $title-light-theme-color;
                    }   
                   