/*body {
    font-family: $main-font;
    font-size: 14px;
    background-color: $title-dark-theme-color;
    color: $main-text-color;
    margin: 0px;
}
.link {
    text-decoration: none;
    display: block;
}
.list {
    list-style:none;
}
img {
    display: block;
}
p { margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 50px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.subtitle, .subtitle-box, .footer-subtitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-light-theme-color
    }
.section-subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-light-theme-color;
    }   
    .subtitle-box {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $title-dark-theme-color;
    background-color: rgba(47, 48, 58, 0.8);
    }
    .speciality:not(:last-child) {
        margin-right: 30px;}